<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test2">

        <activity android:name=".Notee" />
        <activity android:name=".NoteDetailActivity" />
        <activity android:name=".Achat" />
        <activity android:name=".Ventee" />
        <activity android:name=".Utilisateurs" />
        <activity android:name=".UpdateActivity"
            android:parentActivityName=".Stock"/>


        <activity android:name=".Client"
            android:parentActivityName=".Utilisateurs"/>
        <activity android:name=".Fournisseur"
            android:parentActivityName=".Utilisateurs"/>

        <activity android:name=".Stock" />
        <activity
            android:name=".AddActivity"
            android:label="Add stock"
            android:parentActivityName=".Stock" />

        <activity android:name=".Inscription" />
        <activity android:name=".Home" />
        <activity android:name=".Connexion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>